* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'poppins', sans-serif;
    padding-top: 60px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(3, 3, 41);
    height: 60px;

}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 5px 20px;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: rgb(126, 86, 230);
    color: white;
    border-radius: 50px;
    transform: scale(1.05);
}

main hr {
    border: 0px;
    background: rgb(126, 86, 230);
    height: 0.5px;
    margin: 40px 84px;
}
.subhr{

    border: 0px;
    background: rgb(48, 48, 49);
    height: 0.5px;
    margin: 40px;


}

.left {
    font-size: 2rem;
    padding-right: 500px;
}

.right {
    font-size: 1rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.firstSection>div {
    width: 40%;
}

.leftSection {
    font-size: 2.5rem;
}

.rightSection img {
    width: 80%;
    margin-left: 100px;
}

.purple {
    color: rgb(126, 86, 230);
}

.red {
    color: rgb(232, 46, 46);
}

#element {
    color: rgb(126, 86, 230);
}

.secondSection {
    max-width: 80vw;
    margin-left: 85px;
    height: 70vh;
}

.secondSection h1 {
    font-size: 2rem;
}

.secondSection .horizontalLine {
    border: 0;
    background: white;
    height: 0.5px;
    width: 80vw;
    margin: 150px 60px;
    display: flex;
    box-shadow: 0 0 10px rgba(126, 86, 230, 0.8);
    /* glow */

}

.secondSection .verticalLine {
    border: 0;
    background: white;
    width: 1px;
    height: 80px;
    margin: 0px 150px;
    box-shadow: 0 0 10px rgba(126, 86, 230, 0.8);
    /* glow */

}

.verticalLine .ImageTop {
    width: 80px;
    position: relative;
    top: -80px;
    left: -45px;

}

.container-workexp {
    position: relative;
    top: -7px;
    right: 120px;
    min-height: 160px;
    width: 220px;
    padding: 10px 15px;
    border-radius: 15px;
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    color: white;
    box-shadow: 0 0 20px rgba(0, 213, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: box-shadow 0.3s ease-in;

}

/* .container1-html:hover { : not looking sso good so i removed
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
} */

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(126, 86, 230, 1);
    }

    100% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }
}

.container-workexp {
    animation: pulseGlow 2s infinite;
}

.verticalTitle {

    font-size: 19px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #fff;

}

.verticalDesc {

    font-size: 14px;
    line-height: 1.4;
    color: #f0f0f0;
}

.sectionThree {
    max-width: 80vw;
    margin-left: 85px;
    height: 70vh;
}

.sectionThree {
    max-width: 85vw;
    margin: 60px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(126, 86, 230, 0.3);
    line-height: 2.3;
}

.sectionThree h1 {
    font-size: 2rem;
    color: rgb(126, 86, 230);
}

.sectionThree p {
    font-size: 1rem;
    color: #e0e0e0;
    margin-bottom: 20px;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(126, 86, 230, 1);
    }

    100% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }
}

.sectionThree {
    animation: pulseGlow 2s infinite;
}
.sectionFour{
    max-width: 80vw;
    margin-left: 85px;
    height: 210vh;
}
.sectionFour h1 {
    font-size: 2rem;
    color: rgb(126, 86, 230);
}
.firstService{
    max-width: 80vw;
    display: flex;

}
.firstServiceImg{
    border-radius: 15px;
}
.firstServiceImg img{
    height: 300px;
    width: 420px;
    margin: 70px;
    border-radius: 15px;
}
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(126, 86, 230, 1);
    }

    100% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }
}

.firstServiceImg img{
    animation: pulseGlow 2s infinite;
}
.firstServiceText{
    margin: 100px 50px;
}
.firstServiceTexTtitle{
    font-size: 1.6rem;
    font-weight: 600;
}
.firstServiceTextdesc{
    font-size: 14px;
    color: rgb(186, 185, 185);
    margin: 20px 20px;
    line-height: 2;
}



.secondService{
    max-width: 80vw;
    display: flex;
}
.secondServiceText{
    margin: 100px 50px;
    flex: 1;
}
.secondServiceTexTtitle{
    font-size: 1.6rem;
    font-weight: 600;
}
.secondServiceTextdesc{
    font-size: 14px;
    color: rgb(186, 185, 185);
    margin: 20px 20px;
    line-height: 2;
}
.secondServiceImg{
    flex: 1;
    align-items: center;
    /* border-radius: 15px; */
}
.secondServiceImg img{
    height: 300px;
    width: 420px;
    margin: 70px;
    border-radius: 15px;
}
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(126, 86, 230, 1);
    }

    100% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }
}

.secondServiceImg img{
    animation: pulseGlow 2s infinite;
}





.thirdService{
    max-width: 80vw;
    display: flex;

}
.thirdServiceImg{
    border-radius: 15px;
}
.thirdServiceImg img{
    height: 300px;
    width: 420px;
    margin: 70px;
    border-radius: 15px;
}
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(126, 86, 230, 1);
    }

    100% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }
}

.thirdServiceImg img{
    animation: pulseGlow 2s infinite;
}
.thirdServiceText{
    margin: 100px 50px;
}
.thirdServiceTexTtitle{
    font-size: 1.6rem;
    font-weight: 600;
}
.thirdServiceTextdesc{
    font-size: 14px;
    color: rgb(186, 185, 185);
    margin: 20px 20px;
    line-height: 2;
}

.sectionFive{
    max-width: 80vw;
    margin-left: 85px;
    height: 370vh;
}
.sectionFive h1 {
    font-size: 2rem;
    color: rgb(126, 86, 230);
}
.project1{
    width: 100%;
    height: 750px;
    margin: 20px 30px;
    padding: 25px 30px;
    background-color:rgba(255, 255, 255, 0.03) ;
    border-radius: 15px;
}
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(126, 86, 230, 1);
    }

    100% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }
}

.project1 {
    animation: pulseGlow 2s infinite;
}

.project1-title{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(162, 129, 247);

}
.project-title-desc{
    font-size: 18px;
    color: rgb(186, 185, 185);
    font-weight: 400;
}
.project1-desc{
    margin: 20px 30px;
    line-height: 1.8;
}
.button-wraper{
    display: flex;
    gap: 20px; /* space between buttons */
    margin: 30px auto;
    justify-content: center; /* center horizontally */
    align-items: center;

}
.live-button button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #6a0dad;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.3s ease;
}
.live-button :hover{
    background-color: #5800b1;
    transform: scale(1.05);
}
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(126, 86, 230, 1);
    }

    100% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }
}
.live-button button{
    animation: pulseGlow 2s infinite;
}


.git-button button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #6a0dad;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.3s ease;
}
.git-button :hover{
    background-color: #5800b1;
    transform: scale(1.05);
}
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(126, 86, 230, 1);
    }

    100% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }
}
.git-button button{
    animation: pulseGlow 2s infinite;
}



.project2{
    width: 100%;
    height: 750px;
    margin: 50px 30px;
    padding: 25px 30px;
    background-color:rgba(255, 255, 255, 0.03) ;
    border-radius: 15px;
}
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(126, 86, 230, 1);
    }

    100% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }
}

.project2 {
    animation: pulseGlow 2s infinite;
}

.project2-title{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(162, 129, 247);

}
.project2-title-desc{
    font-size: 18px;
    color: rgb(186, 185, 185);
    font-weight: 400;
}
.project2-desc{
    margin: 20px 30px;
    line-height: 1.8;
}





.project3{
    width: 100%;
    height: 750px;
    margin: 50px 30px;
    padding: 25px 30px;
    background-color:rgba(255, 255, 255, 0.03) ;
    border-radius: 15px;
}
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(126, 86, 230, 1);
    }

    100% {
        box-shadow: 0 0 10px rgba(126, 86, 230, 0.5);
    }
}

.project3 {
    animation: pulseGlow 2s infinite;
}

.project3-title{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(162, 129, 247);

}
.project3-title-desc{
    font-size: 18px;
    color: rgb(186, 185, 185);
    font-weight: 400;
}
.project3-desc{
    margin: 20px 30px;
    line-height: 1.8;
}

/* CONTACT ME SECTION */
.sectionSix {
    max-width: 80vw;
    margin-left: 85px;
    height: 70vh;
    padding: 0 20px;
    text-align: center;
}

.sectionSix h2 {
    font-size: 2rem;
    color: #6a0dad;
    margin-bottom: 10px;
}

.sectionSix p {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.contact-form button {
    padding: 12px;
    background-color: #6a0dad;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form button:hover {
    background-color: #5800b1;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 15px;
    font-size: 28px;
    color: #6a0dad;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.social-links a:hover {
    color: #5800b1;
    transform: scale(1.2);
}
.footer {
    padding: 20px;
    text-align: center;
    background: #111;
    color: #aaa;
    font-size: 0.9rem;
}

/* CSS FOR JS PART OF NAV BAR */
#home,
#about,
#services,
#projects,
#contact {
    scroll-margin-top: 80px;
}

